* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
}

:root {
  --pinkBg: linear-gradient(90deg, #ff42a5 0%, #ff42a5 100%);
  --blueBg: #4ec5f7;
  --textViolet: #8758f1;
  --textPink: #ff42a5;
  --headingColor: #0b0223;
  --paraColor: #534c64;
}

/* shared css starts  */

.pinkColor {
  color: var(--textPink);
}

.violetColor {
  color: var(--textViolet);
}

/* shared css ends  */

/* navbar starts  */

.navContainer {
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  margin-bottom: 0.4rem;
}

.navWrapper {
  width: 85%;
  padding: 0.8rem 0;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.navLeft {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;
}

.leftLogo {
  height: 1.7rem;
  width: 3rem;
}
.leftLogo img {
  height: 100%;
  width: 100%;
}

.logoName {
  color: var(--headingColor);
  font-size: 1rem;
  font-weight: 700;
}

.navRight {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.1rem;
  font-size: 1rem;
}

.navRightList > ul {
  list-style: none;
  display: flex;
  gap: 0.6rem;
}

.navRightList li a {
  text-decoration: none;
  color: #3c354f;
}

.navRightIcon {
  background-color: rgba(202, 187, 187, 0.929);
  padding: 0.7rem 0.6rem;
  display: flex;
  align-items: center;
  border-radius: 2px;
  gap: 0.8rem;
}

/* navbar ends */

/* banner section starts  */

.bannerContainer {
  margin-bottom: 4rem;
}

.bannerWrapper {
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bannerLeft {
  background-image: url("images/Group 14.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 48%;
  height: calc(86vh - 5px);
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-left: 7.5rem;
}

.bannerLeftDescription {
  color: var(--headingColor);
  font-size: 2rem;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 0.5rem;
}

.bannerLeftHeading {
  margin-bottom: 0.7rem;
  font-size: 2rem;
  font-weight: 800;
  text-transform: uppercase;
  color: var(--textViolet);
}

.bannerLeftList {
  margin-bottom: 0.4rem;
}

.bannerLeftList > ul {
  list-style: none;
}

.bannerLeftList > ul > li {
  padding-bottom: 1.2rem;
}

.bannerLeftButton {
  display: flex;
  gap: 0.9rem;
}

.btnStyle {
  padding: 0.6rem 1.7rem;
  border: none;
  outline: none;
  border-radius: 8px;
  font-size: 0.9rem;
  cursor: pointer;
  color: #ffffff;
}

.btnStyle:hover {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.btn1 {
  background: var(--pinkBg);
}

.btn2 {
  background: var(--blueBg);
}

.bannerRight {
  width: 49%;
  padding-right: 3rem;
}

.bannerRightWrapper {
  height: 90%;
  width: 90%;
  margin: auto;
}

.bannerRightWrapper img {
  height: 100%;
  width: 100%;
}

/* banner section ends */

/* online game starts  */

.onlineGameContainer {
  margin-bottom: 4rem;
}

.onlineGameWrapper {
  width: 85%;
  margin: auto;
}

.onlineGameTop {
  margin-bottom: 1.2rem;
}

.onlineTopHeading {
  text-align: center;
  color: var(--headingColor);
  font-size: 2.3rem;
  font-weight: 700;
  margin-bottom: 0.6rem;
}

.onlineTopPara {
  text-align: center;
  color: var(--paraColor);
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

.onlineGameBottom {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.onlineCard {
  width: 92%;
  margin: auto;
}

.onlineCardTop {
  margin-bottom: 0.8rem;
  height: calc(59vh - 5px);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  cursor: pointer;
  overflow: hidden;
}

.card1 {
  background-image: url("images/Rectangle 4.png");
}
.card2 {
  background-image: url("images/Rectangle 5.png");
}
.card3 {
  background-image: url("images/Rectangle 7.png");
}
.card4 {
  background-image: url("images/Rectangle 6.png");
}

.cardContainer {
  background-color: var(--headingColor);
  height: 100%;
  opacity: 0.8;
  display: none;
  flex-direction: column;
  gap: 0.4rem;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  border-radius: 12px;
  border: 4px solid var(--textPink);
}

.onlineCardTop:hover .cardContainer {
  display: flex;
}

.onlineCardBottom {
  color: var(--paraColor);
  font-size: 0.9rem;
  line-height: 1.2rem;
}

/* online game ends */

/* play instantly starts  */

.playInstantlyContainer {
  margin-bottom: 5rem;
}

.playInstantlyWrapper {
  width: 85%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.playInstantlyLeft {
  width: 39%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.playInstantlyHead {
  color: var(--headingColor);
  font-size: 1rem;
  font-weight: 700;
  line-height: 3.2rem;
  margin-bottom: 0.7rem;
}

.noInstall {
  text-align: end;
}

.playInstantPara {
  width: 70%;
  text-align: center;
  color: var(--paraColor);
  font-size: 1rem;
  line-height: 1.4rem;
}

.playInstantlyRight {
  width: 57%;
  position: relative;
}

.playRightImgContainer {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
}

.playRightImgContainer img {
  height: 100%;
  width: 100%;
}

.subImg {
  width: 32%;
  position: absolute;
  bottom: -50px;
  left: 0;
}

.subImg img {
  height: 100%;
  width: 100%;
}

/* play instantly ends */

/* icon section starts  */

.iconContaine {
  background-color: rgb(249, 142, 142);
  margin-bottom: 4rem;
}

.iconWrapper {
  background-color: rgb(148, 249, 148);
  width: 85%;
  margin: auto;
  padding: 1.2rem 0.2rem;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  row-gap: 1.5rem;
}

.iconCard {
  background-color: rgb(61, 255, 216);
  /* background: #fff; */
  color: var(--headingColor);
  width: auto;
  margin: auto;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.4rem 0.4rem;
  border-radius: 30px;
  border: 2px solid transparent;
}

.iconCard:hover {
  border-color: var(--textPink);
}

.iconCard p {
  /* background-color: red; */
  /* text-align: center; */
  padding-left: 0.5rem;
  white-space: nowrap;
}

.iconContainer {
  background-color: rgb(120, 120, 255);
  width: 2.7rem;
  height: 2.7rem;
  border-radius: 50%;
}

.iconContainer img {
  width: 100%;
  height: 100%;
}

/* icon section ends */

/*  */
/* media for responsive design  */

/* for tablet view  */
@media screen and (max-width: 768px) {
  .navLeft {
    /* background-color: #fcf799; */
    gap: 0.6rem;
  }

  .leftLogo {
    height: 1.4rem;
    width: 2.6rem;
  }

  .logoName {
    font-size: 0.9rem;
  }

  .navRight {
    /* background-color: rgb(163, 247, 107); */
    gap: 0.8rem;
    font-size: 0.9rem;
  }

  .navRightIcon {
    /* background-color: rgba(159, 241, 250, 0.929); */
    padding: 0.6rem 0.5rem;
    border-radius: 2px;
    gap: 0.6rem;
  }

  /* banner section starts  */

  .bannerWrapper {
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* flex-direction: column; */
    flex-direction: column-reverse;
  }

  .bannerLeft {
    width: 100%;
    margin: auto;
    height: calc(82vh - 10px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-left: 0;
  }

  .bannerLeftHeading {
    margin-bottom: 0.7rem;
    font-size: 2rem;
    font-weight: 800;
    text-transform: uppercase;
    color: var(--textViolet);
  }

  .bannerLeftList {
    margin-bottom: 0.8rem;
  }

  .bannerRight {
    width: 90%;
    padding-right: 0;
  }

  .bannerRightWrapper {
    height: 80%;
    width: 85%;
  }

  /* banner section ends */

  /* online game section starts  */

  .onlineTopHeading {
    color: var(--headingColor);
    font-size: 2.1rem;
  }

  .onlineTopPara {
    font-size: 1rem;
  }

  .onlineGameBottom {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 1rem;
  }

  .onlineCard {
    width: 90%;
  }

  .onlineCardTop {
    margin-bottom: 0.8rem;
    height: calc(62vh - 5px);
  }

  /* online game section ends */

  /* play instantly starts  */

  .playInstantlyWrapper {
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column-reverse;
  }

  .playInstantlyLeft {
    width: 68%;
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
  }

  .playInstantlyHead {
    font-size: 1.1rem;
    line-height: 3.2rem;
  }

  .playInstantPara {
    width: 90%;

    font-size: 1.1rem;
    line-height: 1.5rem;
  }

  .playInstantlyRight {
    width: 85%;
    margin-bottom: 4.6rem;
  }

  .playRightImgContainer {
    width: 80%;
  }

  .subImg {
    width: 34%;
  }

  /* play instantly ends */

  /*  */
}

/*  */

/* for mobile device  */

@media screen and (max-width: 574px) {
  .navWrapper {
    width: 88%;
    padding: 0.8rem 0;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .navLeft {
    margin-bottom: 0.8rem;
  }

  .navRight {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.4rem;
    font-size: 1rem;
  }

  .navRightList > ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1.1rem;
  }

  /* banner section starts  */

  .bannerLeft {
    height: calc(74vh - 10px);
    background-color: rebeccapurple;
  }

  .bannerLeftDescription {
    color: var(--headingColor);
    font-size: 1.8rem;
    margin-bottom: 0.5rem;
  }

  .bannerLeftHeading {
    font-size: 1.8rem;
  }

  .bannerLeftList {
    margin-bottom: 0.6rem;
  }

  .bannerLeftList > ul {
    list-style: none;
  }

  .bannerLeftList > ul > li {
    padding-bottom: 0.8rem;
  }

  .bannerLeftButton {
    display: flex;
    gap: 0.7rem;
  }

  .btnStyle {
    padding: 0.6rem 1.6rem;
    font-size: 0.8rem;
  }

  .bannerRightWrapper {
    height: 76%;
    width: 76%;
  }

  /* banner section ends */

  /* online game section starts  */

  .onlineTopHeading {
    font-size: 2rem;
  }

  .onlineTopPara {
    font-size: 0.9rem;
  }

  .onlineGameBottom {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }

  .onlineCard {
    width: 68%;
  }

  .onlineCardTop {
    margin-bottom: 0.8rem;
    height: calc(64vh - 5px);
  }

  /* online game section ends */

  /* play instantly starts  */

  .playInstantlyLeft {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
  }

  .playInstantlyHead {
    font-size: 1rem;
    line-height: 3rem;
  }

  .playInstantPara {
    width: 92%;
    text-align: center;
    color: var(--paraColor);
    font-size: 1rem;
    line-height: 1.4rem;
  }

  .playInstantlyRight {
    width: 90%;
    margin-bottom: 4.7rem;
  }

  .playRightImgContainer {
    width: 80%;
  }

  .subImg {
    width: 32%;
  }

  /* play instantly ends */

  /*  */
}
